---
layout: base.njk
title: Resume of John Doe
keywords: resume, cv, about, personal, profile, portfolio, john doe
description: This is the personal website of John Doe.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">
Hey there, I'm Akshay Jain - the mind behind the <a href="https://funofprograming.github.io" target="_blank">Fun of Programing</a> tech blog. 
Over past few years I have spent my time into sharing any coding problems with world that I found fun to solve.
</p>
<p class="mb-4">
In my professional life, I'm part of SPDJI division at S&P Global delivering some of the widely used fixed income benchmark indices that influence financial journey of thousands.
</p>